<!-- templates/input-output.html -->
<html>
  <head>
    <title>Local Developer Utilities</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="sidenav">
        <a href="/">Home</a>
        <hr>
        <a href="/utils/pprint/json">pprint-json</a>
        <a href="/utils/pprint/xml">pprint-xml</a>
        <hr>
        <a href="/utils/minify/json">minify-json</a>
        <hr>
        <a href="/utils/encode/base64">encode-base64</a>
        <a href="/utils/encode/url">encode-url</a>
        <hr>
        <a href="/utils/decode/base64">decode-base64</a>
        <a href="/utils/decode/url">decode-url</a>
        <a href="/utils/decode/jwt">decode-jwt</a>
        <hr>
        <a href="/utils/hash/md5">hash-md5</a>
        <a href="/utils/hash/sha1">hash-sha1</a>
        <a href="/utils/hash/sha256">hash-sha256</a>
        <hr>
        <a href="/utils/caps/alternating">caps-alternating</a>
    </div>
    <div class="main">
      <h2>Local Developer Utilities</h2>
      <p>All actions are performed on the client side via javascript.</p>
      <p>Find the source code here:</p>
      <a href="https://github.com/rascoro1/dev-utils">https://github.com/rascoro1/dev-utils</a>
    </div>
  </body>
</html>
