<!-- templates/input-output.html -->
<html>
  <head>
    <title>Local Utilities</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="sidenav">
        <a href="/">Home</a>
        <hr>
        <a href="/utils/pprint/json">pprint-json</a>
        <a href="/utils/pprint/xml">pprint-xml</a>
        <hr>
        <a href="/utils/minify/json">minify-json</a>
        <hr>
        <a href="/utils/encode/base64">encode-base64</a>
        <a href="/utils/encode/url">encode-url</a>
        <hr>
        <a href="/utils/decode/base64">decode-base64</a>
        <a href="/utils/decode/url">decode-url</a>
        <a href="/utils/decode/jwt">decode-jwt</a>
        <hr>
        <a href="/utils/hash/md5">hash-md5</a>
        <a href="/utils/hash/sha1">hash-sha1</a>
        <a href="/utils/hash/sha256">hash-sha256</a>
        <hr>
        <a href="/utils/caps/alternating">caps-alternating</a>
    </div>
    <div class="main">
        <h3>{{ input_message }}</h3>
        <textarea id="input" rows="10" style="width:100%;" ></textarea>

        <h5 id="alert"></h5>

        <h3>{{ output_message }}</h3>
        <textarea id="output" rows="50" style="width:100%;" ></textarea>
    </div>
    <script src="/static/{{ js_file }}" charset="utf-8"></script>
  </body>
</html>
